.servers-list .server .server-info .server-output-link-viewer {
    display: none;
}
.servers-list .server .server-info .server-graph-viewer {
    display: none;
}
.enterprise-plus .navbar .enterprise-upgrade, .enterprise-plus-license .navbar .enterprise-upgrade, .enterprise-plus .navbar .enterprise-plus-upgrade, .enterprise-plus-license .navbar .enterprise-plus-upgrade {
    display: none;
}
.enterprise-modal .enterprise-buttons .premium-switch, .enterprise-modal .enterprise-buttons .enterprise-switch, .enterprise-modal .enterprise-buttons .enterprise-plus-switch {
    display: none;
}
.enterprise-modal .modal .enterprise-info .premium-plan, .enterprise-modal .modal .enterprise-info .enterprise-plan {
	display: none;
}
.users-list .users-list-title .org-id, .users-list .user .name-container .user-id, .servers-list .server .server-title .server-id, .servers-list .server .org .org-id, .servers-list .server .host .host-id, .servers-list .server .link .link-id {
    display: none;
}
